.idea
logs/*
!logs/.gitkeep
src/__pycache__/
operational/output
runs/*
!runs/.gitkeep
notebooks/.ipynb_checkpoints
notebooks/example.nc
notebooks/__pycache__
calibration
credentials.json
src/test.py
externaldata

